*{
    margin: 0px;
    padding: 0px;  
    background-color: black; 
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: white;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: black;
    color: aliceblue;
    
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color: rgb(136, 127, 255);
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    color: beige;
}
nav ul li{
    margin: 0 20px;
}
    
.top-section .background{
    background-image: url(images/um.png);
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      text-shadow: 2px 2px 4px #000000;
}
     .{
       color: white;
       font-size: larger;
       margin: 0;
       justify-content: space-between;
       background-color: black;
     }

     .second-section .row{
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding: 20px;
        max-width: 1000px;
        border-radius: 10px;
        width: 20%;
        margin: 20px auto;
        box-shadow: red;
        height: 100vh;
        align-items: flex-start;
         max-width: 100vh;
           position: relative;
        }
    .second-section.column{
        flex:80%;
        padding: 80px;
    }
    .second-section img{
    
        padding-right: 100px;
        padding-left: 50px;
    }
    #home,#about,#service{
        border-bottom: 1px solid #444;
    }
        .image-section{
           flex: 1;
            
            margin-right: 20%;
            position: absolute;
            
            
        }
         .image-section img{
            width: 90%;
           border-radius: 10px;
            box-shadow: 0 0 10px;
            text-align: center;
            
            
         }
             .text-section{
                flex: 1;
                background-color: black;
                padding: 20px;
                border-radius: 10px;
                color: white;
                text-align: center;
             }
               .text-section h2{color: azure;
                margin-bottom: 10px;
            }
               .text-section p{margin-bottom: 20px;}